* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle farthest-corner ,black ,rgb(46, 41, 41));
font-family: 'Courier New', Courier, monospace; 
}

.title {
     color: white;
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(to right,rgb(88, 85, 85),rgb(147, 155, 147) );
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    text-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.425);
    
}

.head {
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem ;
    font-size: 2rem;

}

.backhome a{
    color: white;
    background-color: rgba(128, 128, 128, 0.452);
    text-decoration: none;
}

.blank{
    padding: 1rem;
}

.ourmarket{
    font-family:sans-serif ;
    color: white;
    padding: 1rem;
    

}