
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {  
background: radial-gradient(circle farthest-corner ,black ,rgb(46, 41, 41));
font-family: 'Courier New', Courier, monospace; 

}

.nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}

.logo {
    color: white;
    font-weight: 700;
    font-size: 2rem;
    background: linear-gradient(to right,rgb(88, 85, 85),rgb(147, 155, 147) );
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    text-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.425);
    
}

.nav a{
    text-decoration: none;
    color: rgb(49, 46, 46);
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.2rem;
    transition: all;
    transition-duration: 400ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    
}

.nav a:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}


.head {
    color: aliceblue;
    align-items: center;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blank {
    padding: 1rem;
}

.text {
    font-size: 1.1rem;

}